{% extends 'crimeDetection/layout.html' %}
{% load static %}

{% block title %}
Siren Squad | Dashboard
{% endblock %}

{% block body %}

<style>
    .maps{
        border-radius: 10px;
        box-shadow: 0 0 5px grey;
        margin-top: 2rem;
        margin-bottom: 1rem;
        border: 1px solid #5953b8;
        height: auto;
    }
    .filter{
        border-radius: 10px;
        box-shadow: 0 0 5px grey;
        margin-top: 2rem;
        margin-bottom: 1rem;
        border: 1px solid #5953b8;
        height:auto;
    }
    .chart-body {
        overflow: auto; 
        margin-top:-3rem;
        margin-left:-1.5rem;
    }
    .chart-container {
        width: 100%;
        height: 100%;
        overflow:true;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>

<script>

    $(document).ready(function () {
    var options = {
        legend: {
          show: true
        },
        chart: {
          height: 350,
          type: 'treemap',
          toolbar: {
            show: true,
            offsetX: 0,
            offsetY: 0,
            tools: {
              download: true,
              selection: true,
              zoom: true,
              zoomin: true,
              zoomout: true,
              pan: true,
              reset: true | '<img src="/static/icons/reset.png" width="20">',
            },
            export: {
              csv: {
                filename: '{{crime}}',
                columnDelimiter: ',',
                headerCategory: 'category',
                headerValue: 'value',
                dateFormatter(timestamp) {
                  return new Date(timestamp).toDateString()
                }
              },
              svg: {
                filename: '{{crime}}',
              },
              png: {
                filename: '{{crime}}',
              }
            },
            autoSelected: 'zoom' 
          },
          zoom: {
            enabled: true,
            type: 'x',  
            autoScaleYaxis: false,  
            zoomedArea: {
              fill: {
                color: '#90CAF9',
                opacity: 0.4
              },
              stroke: {
                color: '#0D47A1',
                opacity: 0.4,
                width: 1
              }
            }
        },
        },
        title: {
          text: 'CRIMINAL PROFESSION ANALYSIS'
        },
        series: [
        {
          data: [
          {% for count in criminal_profession_count %}
                {
                  x: '{{count.profession}}',
                  y: {{count.count}},
                },
          {% endfor %}
              ],
        },
      ],
      };
  

    var opt = {
        chart: {
            height: 400,
            type: 'pie',
        },
        labels: [
        {% for district in District_count %}
        '{{district.district}}',
        {% endfor %}
        ],
        series: [
        {%  for district in District_count %}
        {{district.count}},
        {% endfor %}
        ],
        colors: ["#7267EF", "#0e9e4a", "#3ec9d6", "#ffa21d", "#EA4D4D","#16E2C9", "#F7A648", "#6F52ED", "#36B1F0", "#FBBF24","#2D9CDB", "#F7931E", "#0F9D58", "#E74C3C", "#3498DB","#FF6B6B", "#833471", "#A3CB38", "#8E44AD", "#FD7272","#5DADE2", "#F5B041", "#7D3C98", "#1ABC9C", "#F39C12","#28B463", "#E74C3C", "#D35400", "#52BE80", "#F1C40F"],
        legend: {
            show: true,
            position: 'bottom',
        },
        dataLabels: {
            enabled: true,
            dropShadow: {
                enabled: false,
            }
        },
        responsive: [{
            breakpoint: 480,
            options: {
                legend: {
                    position: 'bottom'
                }
            }
        }]
    };

    var chart1 = new ApexCharts(document.querySelector("#tree-map1"), options);
    var chart3 = new ApexCharts(document.querySelector("#pie-chart1"),opt);
    chart1.render();
    chart3.render();

});
</script>

{% if user.is_authenticated %}
<div class="row">
    <!-- support-section start -->
<div class="row">
    <div class="card-header">
        <h5 class="text-primary text-bold" style="margin-left:-1rem;margin-top:1rem;margin-bottom:-2rem;">
            <a href="{% url 'hotspot_district' %}">Hotspot
            </a>
            </h5>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xl-6">
            <div class="card maps">
                <div class="card-header">
                    
                    <a href="{% static 'sampleData/2/' %}District/Hassan.html" target="_blank" ><h5 style="color:#5953b8;">Hassan</h5></a>
                    <span class="d-block m-t-5">Map shows places around the Hassan</span>
                </div>
                <div class="card-body">
                  <iframe id="map-iframe" src="{% static 'sampleData/2/' %}District/Hassan.html" class="set-map" style="height:95%;width:95%;margin-left:0.5rem;"></iframe>
                    <div id="basic-map" ></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-xl-6">
                <div class="card maps">
                    <div class="card-header">  
                        <a href="{% static 'sampleData/2/' %}Crime_group/ARMS%20ACT%20%201959.html" target="_blank" ><h5 style="color:#5953b8;">ARM ACT 1959</h5></a>
                        <span class="d-block m-t-5">Map shows places around the Karnataka</span>
                    </div>
                    <div class="card-body">
                      <iframe id="map-iframe" src="{% static 'sampleData/2/' %}Crime_group/ARMS%20ACT%20%201959.html" class="set-map" style="height:95%;width:95%;margin-left:0.5rem;"></iframe>
                        <div id="basic-map" ></div>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="row">
    <div class="card-header">
        <h5 class="text-primary text-bold" style="margin-left:-1rem;margin-top:1rem;margin-bottom:-2rem;">
            <a href="{% url 'behavioral' %}">SOCIA ECONOMIC ANALYSIS
            </a>
            </h5>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xl-8">
            <div class="card maps">
                <div class="card-header">
                  <h5 style="color:#5953b8;">{{crime}}</h5>
                  <span class="d-block m-t-5">Average Victim Age: <span style="font-weight:bold;color:#5953b8;" >{{avg_age_victim}}</span></span>
                </div>
                <div class="card-body">
                  <div id="tree-map1"></div>
                  <!--<iframe id="map-iframe" src="{% static 'sampleData/2/duplicated_maps/' %}{{district_name_space}}{{ crime_space }}.html" class="set-map" style="height:650px;width:95%;margin-left:0.5rem;"></iframe>
                    <div id="basic-map" ></div>-->
                </div>
            </div>
        </div>
      <div class="col-lg-12 col-xl-4">
        <div class="card maps">
            <div class="card-header">
                <h5 style="color:#5953b8;">{{crime}}</h5>
                <span class="d-block m-t-5">Pie Chart Shows the <span style="font-weight:bold;">District</span> wise <span style="font-weight:bold;color:#5953b8;"> {{crime}}</span> Analysis</span>
            </div>
            <div class="card-body">
              <div id="pie-chart1"></div>
              <!--<iframe src="{% static 'sampleData/final/' %}{{ files }}" class="set-map" style="height:400px;;width:95%;margin-left:0.5rem;"></iframe>-->
                <div id="basic-map" ></div>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="row">
    <div class="card-header">
        <h5 class="text-primary text-bold" style="margin-left:-1rem;margin-top:1rem;margin-bottom:-2rem;">
            <a href="{% url 'crime_correlation' %}">TEMPORAL ANALYSIS
            </a>
            </h5>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card maps">
                <div class="card-header">
                    <h5 style="color:#5953b8;">{{crime1}}</h5>
                </div>
                <div class="card-body chart-body">
                    <div class="chart-container">
                        {{chart1|safe}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card-header">
        <h5 class="text-primary text-bold" style="margin-left:-1rem;margin-top:1rem;margin-bottom:-2rem;">
            <a href="{% url 'crime_forecasting' %}">TEMPORAL ANALYSIS
            </a>
            </h5>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card maps">
                <div class="card-body chart-body">
                    <div class="chart-container">
                        {{chart|safe}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
{% endif %}
<!-- [ Main Content ] end -->
{% endblock %}
