{% extends 'crimeDetection/layout.html' %}
{% load static %}

{% block title %}
Siren Squad | Rowdy Sheeters
{% endblock %}

{% block header %}Rowdy Sheeters{% endblock %}

{% block page %} Rowdy Sheeters {% endblock %}

{% block page_name %} Rowdy Sheeters {% endblock %}

{% block body %}
<style>
    .maps{
        border-radius: 10px;
        box-shadow: 0 0 5px grey;
        margin-top: 2rem;
        margin-bottom: 1rem;
        border: 1px solid #5953b8;
        height: auto;
    }
    .filter{
        border-radius: 10px;
        box-shadow: 0 0 5px grey;
        margin-top: 2rem;
        margin-bottom: 1rem;
        border: 1px solid #5953b8;
        height:auto;
    }
    .chart-body {
        overflow: auto; 
    }
    .chart-container {
        width: 100%;
        height: 100%;
        overflow:true;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>

<script>
  $(document).ready(function () {
      var options = {
          legend: {
            show: true
          },
          chart: {
            height: 450,
            type: 'treemap',
            toolbar: {
              show: true,
              offsetX: 0,
              offsetY: 0,
              tools: {
                download: true,
                selection: true,
                zoom: true,
                zoomin: true,
                zoomout: true,
                pan: true,
                reset: true | '<img src="/static/icons/reset.png" width="20">',
              },
              export: {
                csv: {
                  filename: 'category_{{category}}',
                  columnDelimiter: ',',
                  headerCategory: 'category',
                  headerValue: 'value',
                  dateFormatter(timestamp) {
                    return new Date(timestamp).toDateString()
                  }
                },
                svg: {
                  filename: 'category_{{category}}',
                },
                png: {
                  filename: 'category_{{category}}',
                }
              },
              autoSelected: 'zoom' 
            },
            zoom: {
              enabled: true,
              type: 'x',  
              autoScaleYaxis: false,  
              zoomedArea: {
                fill: {
                  color: '#90CAF9',
                  opacity: 0.4
                },
                stroke: {
                  color: '#0D47A1',
                  opacity: 0.4,
                  width: 1
                }
              }
          },
          },
          title: {
            text: 'Rowdy Sheeters'
          },
          series: [
          {
            data: [
            {% for count in rowdy_district_count %}
                  {
                    x: '{{count.district}}',
                    y: {{count.count}},
                  },
            {% endfor %}
                ],
          },
        ],
        };
      var chart = new ApexCharts(document.querySelector("#tree-map"),options);
      chart.render();
  });
  </script>
  

<script>
    // Function to set the max attribute of the year input field
    function setMaxYear() {
        // Get the current year
        var currentYear = new Date().getFullYear();
        
        // Set the max attribute of the year input field to the current year
        var yearInput = document.querySelector('input[name="year"]');
        if (yearInput) {
            yearInput.setAttribute("max", currentYear);
        }
    }
    
    // Execute the setMaxYear function when the window is fully loaded
    window.onload = setMaxYear;
</script>


<div class="container-fluid mt-3" id="map" style="display:{{display}};">
    <!-- [ breadcrumb ] start -->
    <div class="row">
        <!-- [ basic-map ] start -->
        <div class="col-lg-12 col-xl-9">
            <div class="card maps">
                <div class="card-header">
                    <h4 style="color:#5953b8;"><span style="color:black;">Category:</span> {{category}}</h4>
                    <span class="d-block m-t-5">Average Victim Age: <span style="font-weight:bold;color:#5953b8;" >{{avg_age_victim}}</span></span>
                </div>
                <div class="card-body chart-body">
                    <div id="tree-map" class="chart-container">

                    </div>
                </div>
            </div>
        </div>
    <div class="col-lg-12 col-xl-3">
            <div class="card filter">
                <div class="card-header">
                    <h4 style="color:#5953b8;"><i class="bi bi-funnel-fill mr-2"></i>Filter</h4>
                </div>
                <div class="card-body">
                    <form action="{% url 'rowdy_sheeters' %}" method="GET">
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">category</label>
                            <select class="form-select" id="inputGroupSelect01" name="category">
                              <option selected  value="one" type="submit">1</option>
                              <option  value="two" type="submit">2</option>
                              <option  value="three" type="submit">3</option>
                            </select> 
                        </div>
                        <input type="submit" value="Filter" class="btn btn-primary"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
