Datathon/static/sampleData/2/Crime_group/MOTOR[[:space:]]VEHICLE[[:space:]]ACCIDENTS[[:space:]]NON-FATAL.html filter=lfs diff=lfs merge=lfs -text
Datathon/static/sampleData/2/District/Bengaluru[[:space:]]City.html filter=lfs diff=lfs merge=lfs -text
Datathon/crimeDetection/ML_models/Preprocessed_FIR_Data1.csv filter=lfs diff=lfs merge=lfs -text
